.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 220px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 55px 100px 100px 100px 200px 200px;
    grid-gap: 25px;
    justify-content: start;
    align-content: start; 
    margin: 30px;  
} 

.navigation{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: start;
    align-self: stretch;
    line-height: 1.5;
}

.nav-title{
    font-size: 23px;
    padding-top: 10px;
}
.main{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-self: start;
    align-self: start;
    padding-top: 3px;
    line-height: 1.5;
}

.pictures{
    grid-column: 2 / 4;
    grid-row: 2 / 9;
}

.moving-pictures{
    grid-column: 7 / 12;
    grid-row: 2 / 9;
}

.copywriting{
    grid-column: 2 / 6;
    grid-row: 2 / 9;
    font-family: 'Helvetica';
    font-size: 13px;
}

.furtherreading{ 
    grid-column: 6 / 10;
    grid-row: 2 / 9;
    font-family: 'Helvetica';
    font-size: 13px;
}

.essay{
    grid-column: 10 / 14;
    grid-row: 2 / 9;
    font-family: 'Helvetica';
    font-size: 13px;
}

.policy{
    grid-column: 14 / 18;
    grid-row: 2 / 9;
    font-family: 'Helvetica';
    font-size: 13px;
}

.self-portrait{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    justify-content: flex-end;
}

.biography{
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.clips{
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    color:black;
    font-family: 'Helvetica';
    padding-bottom: 10px;
    padding-top: 0px;
    font-size: 16px;
    margin: 0px;
}

h2 {
    color: black;
    font-family: 'Helvetica';
    padding: 0px;
    font-size: 15px;
    margin: 0px;
}

h3 {
    color: black;
    font-family: 'Helvetica';
    padding: 0px;
    font-size: 14px;
    margin: 0px;
}

.outside-links {
    color: black;
    font-family: 'Helvetica';
    font-size: 15px;
    padding-left: 0px;
    line-height: 1.5;
    text-decoration: none;
}

.links {
    padding-left: 0px;
    margin: 0px;
    color: Black;
    font-family: 'Helvetica';
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

a:link {color: Black; text-decoration: none; font-family: 'Helvetica';}
a:visited {color: Gray;}
a:hover {text-decoration: none;}
a:active {font-style: oblique;}


.form{
    font-family: 'Helvetica';
    color: black;
    line-height: 1.5;
    font-size: 15px;
}
.submit-button{
    font-size: 15px;
    font-family: 'Helvetica'; 
    

